<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Mercado Liebre</title>

</head>
<body>

     <div class="contenedor">
          <header class="cabecera">
               <div class="cabece">

                    <div class="logo">
                         <img src="images/logo-mercado-liebre.svg">
                    </div>


                    <form class="nav-search">
                         <input class="nav-search-input" placeholder="Buscar productos, marcas" tabindex="2">
                         <button class="nav-search-btn" tabindex="3">
                              <div class="fas fa-search"></div>
                         </button>
                    </form>

                    <div class="compra">
                         <i class="fas fa-hand-holding-usd">Compra en cuotas y sin tarjeta de credito</i>
                    </div>

               </div>
               <nav class="list">
                    <ul class="lista1">
                         <li><a class="categoria" href="www">Ofertas</a></li>
                         <li><a class="categoria" href="www">Tiendas Oficiales</a></li>
                         <li><a class="categoria" href="www">Vender</a></li>
                         <li><a class="categoria" href="www">Ayuda</a></li>
                    </ul>

                    <ul class="lista2">
                         <li><a class="categoria" href="/register">Creá tu cuenta</a>
                              <i class="fas fa-id-card"></i>
                         </li>
                         <li><a class="categoria" href="login">Ingresá</a>
                              <i class="fas fa-sign-in-alt"></i>
                         </li>
                         <li><a class="categoria" href="www">Mis compras</a>
                              <i class="fas fa-shopping-basket"></i>
                         </li>
                    </ul>
               </nav>
   </header>

    <form method="GET" action="/home">
       <div class="form-register">

   <div class="regis">      
    <!-- <label for="nombre"></label> -->
    <input class="login" type="text" name="nombre" placeholder="Nombre y Apellido">
</div>   

    
    <label class="texto" for="fechaNac">Fecha de Nacimineto</label>
    <div class="regis">  
    <input class="login" type="date" name="fechaNac" placeholder="mm/dd/yyyy">
</div>

    <div class="regis">
    <!-- <label for="domicilio">Domicilio</label> -->
    <input  class="login" type="text" name="domicilio" placeholder="Domicilio">
</div>  

    
    <label class="texto" for="comprar">Perfil del usuario</label>
 <div class="regist">
    <input type="radio" name="usuario" value="comprar">Comprador
    <input type="radio" name="usuario" value="vender">Vendedor
</div>
 


    <label class="texto" for="categoria">Intereses</label>
 <div class="regist">  
    <input type="checkbox" name="categoria" value="electro">Electro
    <input type="checkbox" name="categoria" value="moda">Moda
    <input type="checkbox" name="categoria" value="hogar">Hogar
    <input type="checkbox" name="categoria" value="jugueteria">Jugueteria
    <input type="checkbox" name="categoria" value="vida-sana">Vida Sana
</div>

<div class="regis">  
    <!-- <label for="password">Contraseña</label> -->
    <input  class="login" type="password" name="password" placeholder="Contraseña">
</div>

    <button class="btn-reg" type="submit">Confirmar</button>
    <button class="btn-reg" type="submit" >Enviar</button>
    <button class="btn-reg" type="reset">Borrar</button>

</div>
</form>

<footer>
     <div class="footer">
          <section class="seccion">
               <div class="iconos-footer">
                    <i class="fas fa-credit-card"></i>
               </div>
               <strong>Pagá con tarjeta o en efectivo</strong>
               <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
          </section>

          <section class="seccion">
               <div class="iconos-footer">
                    <i class="fas fa-gift"></i>
               </div>
               <strong>Envío gratis desde $ 2.500</strong>
               <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
          </section>

          <section class="seccion">
               <div class="iconos-footer">
                    <i class="fas fa-user-shield"></i>
               </div>
               <strong>Seguridad, de principio a fin</strong>
               <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
          </section>

         
     </div>
     <section>
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     </section>
     <!-- <img src = "images/img-home-banner.jpg" width="400px" height="100px"> -->
</footer>
</body>
</html>